<footer id="footer">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-row align-items-baseline justify-content-between ">

                    <div class="footer-nav-item logo order-2-mobile">
                        <img src="img/logo-big.svg" alt="">
                    </div>

                    <div class="hidden-mobile col-4"></div>

                    <div class="footer-nav-item order-1-mobile">
                        <a class="color-white hvr-grow" href="#">Press Kit</a>
                    </div>
                    <div class="footer-nav-item order-3-mobile">
                        <a class="color-white hvr-grow" href="#">CGU</a>
                    </div>
                    <div class="footer-nav-item hidden-mobile">
                        <a class="color-white hvr-grow" href="#">Contact</a>
                    </div>
                    <div class="footer-nav-item hidden-mobile">
                        <a href="#" class="button-black orange-border hvr-radial-out">
                            <img src="img/flag-eng.svg" alt="">
                            English
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>