<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main-header-block d-flex flex-row align-items-center justify-content-between ">
                    <a href="#" class="logo-left-mobile">
                        <img src="img/flag-eng.svg" alt="" class="img-flag">
                    </a>
                    <a href="index.html" class="logo logo-center-mobile d-flex flex-row align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80"><g fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="2"><rect width="80" height="80" rx="40" stroke="none"/><rect x="1" y="1" width="78" height="78" rx="39" fill="none"/></g><g transform="translate(12.44 20.766)"><g transform="translate(49.416 4.595)"><g transform="translate(0 0)"><path d="M452.56,85.49a1.1,1.1,0,1,0,.32.775A1.1,1.1,0,0,0,452.56,85.49Z" transform="translate(-450.688 -85.169)" fill="#ffbd45"/></g></g><g transform="translate(24.232 30.419)"><g transform="translate(0 0)"><path d="M222.871,321.016a1.1,1.1,0,1,0,.32.775A1.1,1.1,0,0,0,222.871,321.016Z" transform="translate(-220.999 -320.695)" fill="#ffbd45"/></g></g><g transform="translate(0 0)"><g transform="translate(0 0)"><path d="M53.944,51.819A1.1,1.1,0,1,0,52.037,52.9a14.73,14.73,0,0,1-2.391,17.651l-.831.831a4.106,4.106,0,0,0-.936-1.445L36.612,58.674a7.576,7.576,0,0,0,2.015-1.444l2.161-2.161a1.1,1.1,0,0,0-1.551-1.551l-2.161,2.161a5.34,5.34,0,0,1-3.8,1.574h-4.32a1.1,1.1,0,0,0-.775.321l-3.307,3.307a2.519,2.519,0,1,1-3.562-3.562l7.55-7.55A14.757,14.757,0,0,1,46.377,47.3a1.1,1.1,0,0,0,1.064-1.918,17.011,17.011,0,0,0-10.429-1.964A16.711,16.711,0,0,0,28.077,47.5a16.89,16.89,0,0,0-23.13,24.6l.413.413a1.1,1.1,0,0,0,.236.178,4.123,4.123,0,0,0,4.117,3.809c.055,0,.11,0,.165,0,0,.056,0,.111,0,.167a4.129,4.129,0,0,0,4.132,4.13c.055,0,.11,0,.165,0,0,.055,0,.111,0,.167A4.129,4.129,0,0,0,18.3,85.08c.056,0,.111,0,.167,0a4.13,4.13,0,0,0,7.048,3.089l1.533-1.533,2.07,2.07a4.13,4.13,0,0,0,7.047-3.129c.069,0,.138.005.207.005a4.125,4.125,0,0,0,4.126-4.3c.055,0,.111,0,.167,0a4.128,4.128,0,0,0,4.126-4.3c.055,0,.111,0,.167,0a4.13,4.13,0,0,0,3.818-2.553,1.1,1.1,0,0,0,.3-.21L51.2,72.1A16.928,16.928,0,0,0,53.944,51.819ZM9.713,74.3a1.939,1.939,0,0,1-1.371-3.31l1.89-1.89a1.939,1.939,0,1,1,2.742,2.742l-1.89,1.89A1.927,1.927,0,0,1,9.713,74.3Zm2.922,3.725a1.939,1.939,0,0,1,0-2.742l1.89-1.89h0a1.939,1.939,0,0,1,2.742,2.742l-1.89,1.89A1.942,1.942,0,0,1,12.635,78.028Zm4.293,4.293a1.939,1.939,0,0,1,0-2.742l1.89-1.89h0a1.939,1.939,0,0,1,2.742,2.742l-1.89,1.89A1.941,1.941,0,0,1,16.928,82.321Zm8.925,2.4-1.89,1.89a1.939,1.939,0,0,1-2.742-2.742l1.89-1.89h0a1.939,1.939,0,0,1,2.742,2.742ZM46.328,74.233a1.939,1.939,0,0,1-2.742,0l-4.564-4.564h0l-4.293-4.293a1.1,1.1,0,1,0-1.551,1.551l8.857,8.857a1.939,1.939,0,1,1-2.742,2.742l-8.857-8.857a1.1,1.1,0,1,0-1.551,1.551l4.292,4.292h0l4.564,4.564A1.939,1.939,0,1,1,35,82.819l-4.564-4.564a1.094,1.094,0,0,0-.28-.2l-1.3-1.3A1.1,1.1,0,0,0,27.3,78.3l6.107,6.107a1.939,1.939,0,1,1-2.742,2.742l-2.324-2.324a4.133,4.133,0,0,0-3.861-5.606c-.056,0-.111,0-.167,0a4.128,4.128,0,0,0-4.126-4.3c-.056,0-.111,0-.167,0a4.128,4.128,0,0,0-4.126-4.3c-.056,0-.111,0-.167,0a4.13,4.13,0,0,0-7.048-3.087l-1.89,1.89a4.131,4.131,0,0,0-.608.775A14.7,14.7,0,0,1,26.5,49.03l-6.738,6.738a4.712,4.712,0,0,0,6.664,6.663l2.986-2.986h3.865a7.681,7.681,0,0,0,.947-.061l12.105,12.1A1.942,1.942,0,0,1,46.328,74.233Z" transform="translate(0 -43.261)" fill="#ffbd45"/></g></g></g></svg>                        <span class="logo-name ml-3">
							Calloney
						</span>

                    </a>
                    <nav class="menu">
                        <ul class="menu-list d-flex flex-row align-items-center">
                            <li class="mr-4 ml-4 mob-border-bottom">
                                <a class="hvr-grow active" href="fonctionnalites.html">Fonctionnalités</a>
                            </li>
                            <li class="mr-4 ml-4 mob-border-bottom">
                                <a class="hvr-grow" href="tarifs.html">Tarifs</a>
                            </li>
                            <li class="mr-4 ml-4 mob-border-bottom">
                                <a class="hvr-radial-out button-black" href="register.html">Inscription</a>
                            </li>
                            <li class="mr-4 ml-4">
                                <a class="hvr-radial-out button-orange" href="login.html">Connexion</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="logo-right-mobile menu-switcher-mobile">
                        <button class="hamburger hamburger--collapse">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>