@charset "UTF-8";

/* latin Regular*/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin SemiBold*/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhpKKSTjw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin Bold*/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

//@font-face {
//  font-family: 'Open Sans';
//  src: url('../fonts/Open Sans Light.eot');
//  src: url('../fonts/Open Sans Light.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/Open Sans Light.woff') format('woff'),
//        url('../fonts/Open Sans Light.ttf') format('truetype'),
//        url('../fonts/Open Sans Light.svg#Open Sans Light') format('svg');
//  font-weight: 300;
//  font-style: normal;
//  font-stretch: normal;
//  unicode-range: U+0020-FFFD;
//	font-display: swap;
//}

//@font-face {
//	font-family: 'Font Awesome 5 Free';
//	font-style: normal;
//	font-weight: 400;
//	src: url('#{$fa-font-path}/fa-regular-400.eot');
//	src: url('#{$fa-font-path}/fa-regular-400.eot?#iefix') format('embedded-opentype'),
//	url('#{$fa-font-path}/fa-regular-400.woff2') format('woff2'),
//	url('#{$fa-font-path}/fa-regular-400.woff') format('woff'),
//	url('#{$fa-font-path}/fa-regular-400.ttf') format('truetype'),
//	url('#{$fa-font-path}/fa-regular-400.svg#fontawesome') format('svg');
//}
//@font-face {
//	font-family: 'Font Awesome 5 Free';
//	font-style: normal;
//	font-weight: 900;
//	src: url('#{$fa-font-path}/fa-solid-900.eot');
//	src: url('#{$fa-font-path}/fa-solid-900.eot?#iefix') format('embedded-opentype'),
//	url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
//	url('#{$fa-font-path}/fa-solid-900.woff') format('woff'),
//	url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype'),
//	url('#{$fa-font-path}/fa-solid-900.svg#fontawesome') format('svg');
//}
//.fa,
//.fas {
//	font-family: 'Font Awesome 5 Free';
//	font-weight: 900;
//}
//.far {
//	font-family: 'Font Awesome 5 Free';
//	font-weight: 400;
//}


