$OpenSans: "Open Sans", Helvetica, Arial, sans-serif;
//$Helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

%flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
%ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//CUSTOM
$back: #000;
$white: #fff;
$orange: #FFBD45;
