a:hover, a:link, a:visited{
	text-decoration:none;
	outline:none
}
::-moz-selection{
	background:#9b449e;
	color:#fff;
	text-shadow:none
}
::selection{
	background:#9b449e;
	color:#fff;
	text-shadow:none
}
input[placeholder]{
	text-overflow:ellipsis;
}
input::-moz-placeholder{
	text-overflow:ellipsis;
}
input:-moz-placeholder{
	text-overflow:ellipsis;
}
input:-ms-input-placeholder{
	text-overflow:ellipsis;
}
:focus::-webkit-input-placeholder{
	color:transparent
}
:focus::-moz-placeholder{
	color:transparent
}
:focus:-moz-placeholder{
	color:transparent
}
:focus:-ms-input-placeholder{
	color:transparent
}
*{
	outline:0
}
.nopadding{
	padding:0 !important;
	margin:0 !important;
}
.browserupgrade{
	margin:0.2em 0;
	background:#ccc;
	color:#000;
	padding:0.2em 0;
}

body{
	font-family: $OpenSans;
	overflow-x: hidden;
}