//sudo gem install sass
//sass --watch assets/css/style.scss:assets/css/style.css
//$fa-font-path:"../fonts/fontawesome" !default;
@import "fonts";
@import "mixins";
/*PLUGINS*/
/*bootstrap*/
@import "plugins/bootsrap/bootstrap-reboot";
@import "plugins/bootsrap/bootstrap-grid";
@import "plugins/bootsrap/images";
@import "plugins/bootsrap/utilities";
@import "plugins/bootsrap/forms";
@import "plugins/bootsrap/nav";
/*hover-effects*/
@import "plugins/hover/hover";
/*hamburger*/
@import "plugins/hamburgers";
/*swiper*/
@import "plugins/swiper";
/*fontawesome*/
//@import "plugins/fontawesome/variables";
//@import "plugins/fontawesome/mixins";
//@import "plugins/fontawesome/core";
//@import "plugins/fontawesome/larger";
//@import "plugins/fontawesome/icons";
//@import "plugins/fontawesome/screen-reader";
/*CUSTOM VAR STYLES*/
@import "settings";
@import "my-default";

//Buttons
.button-orange,
.button-black,
.button-grey,
.button-orange-black {
  display: inline-block;
  border-radius: 20px;
  border: none;
  @extend .pl-5;
  @extend .pr-5;
  @extend .pt-2;
  @extend .pb-2;
}

.button-orange {
  border: none;
  background: $orange;
  color: $white !important;

  &.hvr-radial-out:before {
    background: $black;
  }

  &:hover {
    color: $orange !important;
  }
}


.button-orange-black {
  border: none;
  background: $orange;
  color: $black !important;

  &.hvr-radial-out:before {
    background: $black;
  }

  &:hover {
    color: $orange !important;
  }
}

.button-grey {
  background: #EBEBEB;
  color: #707070 !important;

  &.hvr-radial-out:before {
    background: $black;
  }

  &:hover {
    color: $white !important;
  }
}

.button-black {
  background: $black;
  color: $orange !important;

  &.hvr-radial-out:before {
    background: $orange;
  }

  &:hover {
    color: $black !important;
  }

  &.orange-border {
    border: 1px solid $orange;
    @extend .pt-0;
    @extend .pb-0;
  }
}

.orange-link {
  display: inline-block;
  color: $orange;
  border-bottom: 1px solid $orange;

  &:hover {
    color: $orange;
  }
}

.header-block {
  color: $black;
  font-size: 28px;
}

.text-block {
  font-size: 22px;
  color: #000;
  opacity: 0.6;
}

.img-100 {
  width: 100%;
}

.tarif-img {
  max-width: 400px;
}

.color {
  &-white {
    color: $white;

    &:hover {
      color: $orange
    }
  }

  &-orange {
    color: $orange;
  }

  &-black {
    color: $black;
  }
}

.visible-mobile {
  &-bock {
    display: none;
  }

  &-inline-block {
    display: none;
  }
}

.form-control:focus {
  border-color: $orange;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 169, 85, .25);
  box-shadow: 0 0 0 0.2rem rgba(255, 169, 85, .25);
  z-index: 1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  //box-sizing: content-box;
  //max-height: calc(1.3em + 24px);
  height: calc(1.6em + 24px) !important;
  //height: 40px;
}

//HEADER
#header {
  padding-top: 60px;

  .logo-left-mobile,
  .logo-right-mobile {
    display: none;
  }

  .img-flag {
    width: 24px;
    opacity: 0;
    transition: opacity .5s;

    &.active {
      opacity: 1;
      transition-delay: .9s;
      transition: opacity .5s;
    }
  }

  .logo {
    svg {
      max-width: 80px;
    }

    .logo-name {
      color: $black;
      display: inline-block;
      font-size: 24px
    }
  }

  .menu-list {
    margin-bottom: 0;
    padding-left: 0;

    li {
      list-style: none;
      display: inline-block;

      a {
        color: $black;
        font-size: 16px;

        &.active {
          color: $orange;
          border-bottom: 2px solid $orange;
        }
      }
    }
  }

}

.copy-block {
  .copy {
    border-radius: 13px;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }

  &.copy-index {
    margin-top: -120px;
  }
}

#footer {
  background: $black;

  .footer-nav-item {
    display: inline-block;
  }
}


//INDEX
.main-content-1 {
  .img-index-1 {
    max-width: 511px;
  }
}

.index-logo-block {
  .coocke-block {
    border-radius: 13px;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 30px 80px 30px 20px;
    background: url("../img/index-3.svg") 90% center no-repeat;

    p {
      font-size: 12px;
    }

  }

  .logos-block {
    img {
      max-width: 478px;
    }

  }
}

//Functionality
.img-funct-big {
  max-width: 970px;
}

.img-funct-small {
  margin-top: -100px;
}

//Tarifs
.price-table-out {
  .price-table {
    padding-left: 0;
    padding-right: 0;

    .on-hover-visible {
      opacity: 0;
      transition: opacity .5s;
    }

    &.hover-effect:hover,
    &.hover-effect-on {
      background: #fff;
      box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.05);
      transition: all .9s;

      .price-table-name {
        color: $orange;
        transition: color .25s;
      }

      & .on-hover-visible {
        opacity: 1;
        transition: opacity .5s;
      }
    }

    .hover-effect-on {

    }

    &-name {
      font-size: 22px;
      font-weight: bold;
      color: $black;
      transition: color .25s;

    }

    &-price {
      font-size: 32px;
      font-weight: bold;
    }

    &-per {
      font-size: 22px;
      color: #878F9D;
    }

    &-row1,
    &-row2,
    &-row3 {
      height: 70px;
      color: #4F5059;
      line-height: 70px;
    }

    &-row1 {
      background: #E8E8E8;
    }

    &-row2 {
      background: #fff;
    }

    &-row2 {
      background: #FFF9EE;
    }
  }
}

//Register and Login
.regist-back-img,
.login-back-img,
.order-menu {
  position: absolute;
  width: 20%;
  height: 100vh;

}

.regist-back-img {
  background: url("../img/chef-coffe@2x.jpg") center top no-repeat;
}

.login-back-img {
  background: url("../img/business-cafe@2x.jpg") center top no-repeat;
}

.form-rights {
  font-size: 12px;
  color: #9EA0A5;
}


//Cabinet
.popup-block {
  .popup {
    top: 60px;
    left: -60%;
    border-radius: 13px;
    background: $white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 10;

    .mob-border-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    }
  }
}

.order-menu {
  ul {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      list-style: none;
    }
  }

  &-item {
    color: $black;

    &:hover {
      color: $black;
    }

    &.active {
      font-size: 18px;
      border-bottom: 2px solid $black
    }
  }
}

.new-order-textarea {
  textarea {
    resize: none;
    border-radius: 0;
    position: relative;
    border: 1px solid #D9DDE7;
    color: #2B313D;
  }

  .form-group {
    margin-bottom: 0;
  }

  &-first {
    bottom: -1px;
    border-radius: 3px 3px 0 0 !important;
  }

  &-last {
    top: -1px;
    border-radius: 0 0 3px 3px !important;
  }
}

.all-orders-table {
  &-row {
    border-bottom: 1px solid #ccc;
    transition: all .5s;

    &:hover {
      background: #F8FAFB;
    }
  }

  &-row-checker {
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      &:hover input ~ .checkmark {
        background-color: #ccc;
        transition: all .5s;
      }

      input:checked ~ .checkmark {
        background-color: #4D7CFE;
        border-radius: 2px;
        transition: all .5s;
      }

      input:checked ~ .checkmark:after {
        display: block;
        transition: all .5s;
      }

      .checkmark:after {
        left: 9px;
        top: 5px;
        width: 6px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: all .5s;
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }


  }

  .all-orders-table-row-status {
    div {
      width: 90px;
      text-align: center;
      border-radius: 19px;
      padding: 10px 0;
      font-size: 12px;
      font-weight: bold;
      margin: -5px auto 0 auto;
    }

    &-failure {
      background: rgba(254, 77, 151, 0.09);
      color: #FE4D97;
    }

    &-waiting {
      background: rgba(255, 177, 45, 0.09);
      color: #FFAB2B;
    }

    &-paid {
      background: rgba(109, 210, 48, 0.09);
      color: #6DD230;
    }
  }

}

//My-account
.my-account-tabs {
  .tab-pane {
    background: #EBEBEB;
    font-size: 15px;

    .existing-logo {
      img {
        border: 1px dashed $white;
        border-radius: 5px;
        height: 100px;
      }
    }
  }

  .nav-tabs {
    background: #707070;
    padding-bottom: 2px;

    .nav-item {
      color: $white;
      border: 0px;

      &:hover {
        color: $orange;
        transition: color .5s;
        border-bottom: 2px solid #707070;
        border-radius: 0;
      }

      &.active {
        background: #707070;
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 0;
        color: $orange;
        border-bottom: 2px solid $orange;
      }
    }
  }

  .drag-file {
    height: 142px;

    &-text {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $white;
      border: 1px solid #ced4da;
      border-radius: 5px;

      p {
        padding: 0;
        margin: 0;
        font-size: 13px;
        color: #778CA2;

        span {
          display: block;
          font-size: 10px;
        }
      }
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
    }
  }

  .upgrade-plan {
    right: 5px;
    top: 5px;
  }
}

//Payment
.card-payment {
  width: 100%;
  height: 100%;

  &.mastercard,
  &.visa {
    background-size: cover !important;
    padding: 40px 20px;
    border-radius: 30px;
  }

  &.mastercard {
    background: url("../img/master-card.svg") top right no-repeat;
  }

  &.visa {
    background: url("../img/visa-card.svg") top right no-repeat;
  }

  .first-line {
    padding-top: 40%;
  }

  label {
    color: $white;
  }

}

.pay-amount {
  border-radius: 13px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.save-copy {
  text-align: center;

  p {
    font-size: 10px;
  }

  .color-green {
    color: #6DD230;
  }
}

//Swiper fix
.swiper-pagination-bullet-active{
  background: $orange;
}

//MEDIA
@media screen and (min-width: 1201px) {
  .container {
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
  }

}


@media screen and (max-width: 991px) {
  .w-mob-100{
    width: 100% !important;
  }
  .order-1-mobile {
    order: 1;
  }
  .order-2-mobile {
    order: 2;
  }
  .order-3-mobile {
    order: 3;
  }
  .text-center-mobile {
    text-align: center;
    margin: 0 auto;
  }
  .header-block {
    font-size: 22px;
  }
  .text-block {
    font-size: 16px;
  }
  .hidden-mobile {
    display: none !important;
  }
  .visible-mobile {
    &-bock {
      display: block !important;
    }

    &-inline-block {
      display: inline-block !important;
    }
  }
  #header {
    padding-top: 0px;

    .main-header-block {
      justify-content: space-between !important;
    }

    .logo-left-mobile,
    .logo-center-mobile,
    .logo-right-mobile {
      display: block;
      position: relative;
      z-index: 10;
      margin-top: 10px;
    }

    .logo {
      svg {
        max-width: 40px;
        background: $white;
        height: 40px;
        border-radius: 50%;
      }

      .logo-name {
        display: none;
      }
    }

    .menu {
      position: absolute;
      top: -350px;
      padding-top: 70px;
      padding-bottom: 60px;
      border-bottom: 1px solid #Ccc;
      border-radius: 0 0 50% 50%;
      left: -10%;
      background: #fff;
      width: 120%;
      filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.16));
      transition: top 1s;
      z-index: 1;

      &.active {
        top: 0;
        transition: top 1s;
      }

      .mob-border-bottom {
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      }

      .menu-list {
        flex-wrap: wrap;
        text-align: center;
        width: 80%;
        margin: 0 auto;

        li {
          width: 100%;
          padding: .5rem 0;
          min-height: 51px;

          a {
            font-size: 12px;

            &.active {
              border-bottom: none;
            }
          }

        }
      }


    }

    .menu-switcher-mobile {
      width: 16px;

      .hamburger {
        padding: 0;
        outline: none;

        .hamburger-box {
          width: 20px;
        }

        .hamburger-inner,
        .hamburger-inner::after,
        .hamburger-inner::before {
          width: 20px;
          height: 2px;
        }
      }
    }

  }
  .flex-mobile {
    display: flex;
  }
  #main {
    padding-top: 0;
    transition: padding-top .7s;

    &.active-menu {
      padding-top: 300px;
      transition: padding-top 1.3s;
    }

    .main-content-1,
    .index-photos-block {
      flex-wrap: wrap;
    }

    .index-button-block {
      flex-wrap: wrap;

      .text-center-mobile {
        width: 100%;

        a {
          width: auto;
        }
      }

    }

    .index-logo-block {
      .coocke-block {
        display: none;
      }
    }

    .logos-block {
      img {
        width: 100%;
      }
    }

    .index-photos-block {
      img {
        width: 100%;
      }
    }


  }

  .regist-login-back-img-mob {
    border-radius: 10px;
  }

  .copy-block {
    &.copy-index {
      margin-top: -20px;
    }
  }

  .all-orders-table {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    &-row {
      &-date {
        font-size: 10px;
      }

      &-status {
        div {
          margin: 5px auto !important;
        }
      }
    }
  }

  .drag-file {
    height: 50px !important;
    margin-top: 20px;
  }


}


body {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}